@media (min-width: 375px) {
    .review {
        background-color: #FBFBFB;
        padding: 100px 0;
        gap: 52px;
    }

    .container-review {
        /* min-width: 320px; */
        max-width: 1200px;
        display: flex;
        align-items: stretch;
        width: 90%;
        margin: 0 auto;
        padding: 0 20px;
        display: flex;
        /*щоб працював flex-direction, треба flex задати */
        flex-direction: column;
        /* text-align: center; */
        gap: 40px;
    }

    .review-wrap {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .review-title {
        color: #141414;
        line-height: 1.08;
        text-transform: uppercase;
        text-align: left;
    }

    .review-part {
        color: #576F35;
    }

    .review-description {
        color: #141414;
        font-weight: 500;
        font-size: 14px;
        /* line-height: 20px; */
        line-height: 1.43;
        text-align: left;
    }

    .review-team-list {
        width: 100%;
        gap: 8px;
        padding: 16px;
        border: 1px solid rgba(221, 221, 221, 0.8);
        background: rgba(255, 255, 255, 0.9);
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .review-team {
        display: flex;
        flex-direction: column;
    }

    .review-team-list img {
        width: 56px;
        height: 56px;
        object-fit: cover;
        border-radius: 50%;
    }
    .review-team-name { 
        font-weight: bold; 
        font-size: 16px; 
        line-height: 1.2; 
        text-align: center; 
        color: #141414; } 
    
    .review-team-p { 
        font-size: 14px; 
        line-height: 1.43; 
        text-align: center; 
        color: #858585; }
}


@media (min-width: 768px) {
    .container-review {
        max-width: 768px;
        padding: 0 16px;
        text-align: left;
    }

    .review-title {
        font-size: 40px;
        letter-spacing: -1.5%;
        line-height: 64px;
    }


    .review-description {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }

    .review-team-list {
        width: calc(50% - 16px);
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.9); 
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тінь для картки */
    }


    .review-team {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 16px;
    }
}

@media only screen and (min-width: 1280px) {
    .container-review {
        max-width: 1280px;
        padding: 0 100px;
        text-align: left;
        gap: 24px;
        align-items: stretch;
    }

    .review-title {
        width: 553px;
        height: 128px;
        font: Inter Tight;
        font-weight: 600;
        font-size: 64px;
        line-height: 64px;
        text-align: left; 
    }

    .review-description {
        font: Inter Tight;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        width: 553px;
        height: 40px;
    }

     .review-team-list {
        width: 344px;
        height: 248px;
        border: 1px;
        padding: 24px;
        border-radius: 16px; 
        background: rgba(255, 255, 255, 0.9); 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .review-team { 
        display: grid; 
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    } 
    
    .review-team-name, 
    .review-team-p { 
        text-align: center; 
    } 
}
